<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>GroupBy</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">
    <link href="/static/css/bootstrap-slider.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">GroupBy</a>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="/">
                  <span data-feather="home"></span>
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/user_conversion">
                  <span data-feather="file"></span>
                  Customer Conversion <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/personalization">
                  <span data-feather="shopping-cart"></span>
                  Personalization
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Customer Conversion</h1>
          </div>
          <h2>XGBoost Model Explanation</h2>

          <div class="row">
              <div class="col-md-6"><img height="280px" src="{{ shap_bar_graph }}"></img></div>
              <div class="col-md-1"><img height="280px" src="{{ explanability }}"></img></div>
          </div>
          <h2>Important Features</h2>
          <!-- <div class="table-responsive"> -->
            <div class="row">
              <div class="col-md-2">Time on site (seconds):</div>
              <div class="col-md-2"><input id="time_on_site" data-slider-id='time_on_site_slider' type="text" data-slider-min="0" data-slider-max="17000" data-slider-step="10" data-slider-value="100"/></div>
            </div>
            <div class="row">
              <div class="col-md-2">Total view products:</div>
              <div class="col-md-2"><input id="total_view_products" data-slider-id='total_view_products_slider' type="text" data-slider-min="0" data-slider-max="110" data-slider-step="1" data-slider-value="0"/></div>
            </div>
            <div class="row">
              <div class="col-md-2">Unique add to cart:</div>
              <div class="col-md-2"><input id="unique_add_to_cart" data-slider-id='unique_add_to_cart_slider' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0"/></div>
            </div>
            <div class="row">
              <div class="col-md-2">Mean product price:</div>
              <div class="col-md-2"><input id="mean_product_price" data-slider-id='mean_product_price_slider' type="text" data-slider-min="1" data-slider-max="300" data-slider-step="1" data-slider-value="1"/></div>
            </div>
            <div class="row">
              <div class="col-md-2">Total searches:</div>
              <div class="col-md-2"><input id="total_searches" data-slider-id='total_searches_slider' type="text" data-slider-min="0" data-slider-max="200" data-slider-step="1" data-slider-value="0"/></div>
            </div>
            <div class="row">
              <div class="col-md-2">Total add to cart:</div>
              <div class="col-md-2"><input id="total_add_to_cart" data-slider-id='total_add_to_cart_slider' type="text" data-slider-min="0" data-slider-max="1000" data-slider-step="1" data-slider-value="0"/></div>
            </div>
            <div class="row">
              <div class="col-md-2">Hour of day:</div>
              <div class="col-md-2"><input id="hour_of_day" data-slider-id='hour_of_day_slider' type="text" data-slider-min="0" data-slider-max="23" data-slider-step="1" data-slider-value="0"/></div>
            </div>
          <!-- </div> -->
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script> -->

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

  </body>
  <script src="/static/dist/index.js"></script>
</html>
